* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #253858;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{

}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:18.9px;
	font-size: 14px;
	font-family:'PoppinsLight',Arial, Helvetica, sans-serif ;
	font-weight: 500;
	color: #42526E;
}
h2{
    font-family: "Inter", Arial;
    font-weight: 700;
    color: #000000;



}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFontopszwght.eot');
    src: url('../FONT/Inter/Inter-VariableFontopszwght.woff') format('woff');
     
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('fonts/Poppins-Light.eot');
    src: url('../FONT/Poppins/Poppins-Light.woff') format('woff');
}


@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot');
    src: url('../FONT/Poppins/Poppins-Regular.woff') format('woff');
}    
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('../FONT/Poppins/Poppins-SemiBold.woff') format('woff');       
}



::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}


/* direction section styling */


#direction {

}
#direction section.wrapper{
 

}
#direction section.wrapper div.direct{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 12px;
    align-items: center;
    width: 134px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
#direction section.wrapper  div.direct a{
    color: #000000;


}
#direction section.wrapper  div.direct a.old{
    opacity: 30%;

}
#direction section.wrapper  div.direct p{
    color: #000000;


}



/* catagory middle section */
#catagory section.wrapper{
	/* padding: 27px 0px;	 */
}

#catagory section.wrapper div.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

}
#catagory section.wrapper div.middle div.item {
    height:322px;
    width:270px;
    margin-bottom: 27px;



}
#catagory section.wrapper div.middle div.item div.image  {
    display: flex;
    justify-content: center;
    height:250x;
    width:270px;
    background-color:#F5F5F5;
    border-radius: 4px;
    position: relative;
    
}
#catagory section.wrapper div.middle div.item div.image div.left  
{
    position: absolute;

    width: 51px;
    height: 26px;
    top: 10px;
    left: 12px;
    background-color: #DB4444;
    border-radius: 4px;
	display: flex;
    justify-content: center;
	align-items : center;
    
}
#catagory section.wrapper div.middle div.item div.image div.left p{
    color: white;
    font-size: 12px;
    font-weight: 400;
   
}  


#catagory section.wrapper div.middle div.item div.image div.center  {
    margin-top: 35px;
    margin-bottom: 35px;
    height:180px;
    width:190px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
#catagory section.wrapper div.middle div.item div.image div.center img  {
	height:180px;
    width:190px;
	scale: crop;
    
   

}
#catagory section.wrapper div.middle div.item div.image div.right  {
    display: grid;
    height:76px;
    margin-top:12px;
    
    
}
#catagory section.wrapper div.middle div.item div.image div.right a  {
}
#catagory section.wrapper div.middle div.item div.image div.right a img  {
    height: 34px;
    width:34px;
}

#catagory section.wrapper div.middle div.item div.image div.cart-btn {
    display: none;
}

#catagory section.wrapper div.middle div.item div.image:hover div.cart-btn {
    position: absolute;
    display: block;
    top: 220px;
    background: #000;
    border-radius: 0 0 4px 4px;
    width: 100%;
}

#catagory section.wrapper div.middle div.item div.image div.cart-btn button {
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

#catagory section.wrapper div.middle div.item div.container  {
    margin-top: 16px;
}
#catagory section.wrapper div.middle div.item div.container h5  {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000;
}
#catagory section.wrapper div.middle div.item div.container ul  {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 8px;
}
#catagory section.wrapper div.middle div.item div.container ul li  {

}
#catagory section.wrapper div.middle div.item div.container ul li img  {
}
#catagory section.wrapper div.middle div.item div.container ul li p.price  {
    font-size: 16px;
    color: #DB4444;
    font-weight:700;
    ;
}
#catagory section.wrapper div.middle div.item div.container ul li p.rate  {
    font-size: 14px;
    color:#000000;
    opacity: 30%;
    
}

@media all and (max-width: 640px) {
    #catagory section.wrapper div.middle {
        justify-content: center;
        width: 100%;
    }
}